/* Trending News Widget */

.tnw-trending {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tnw-trending li {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
}

.tnw-trending li:last-child {
    border-bottom: none;
}

.tnw-trending a {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: #1a1a1a;
    text-decoration: none;
    display: block;
}

.tnw-trending a:hover {
    color: #c40000;
    text-decoration: underline;
}
